<%= form_with(model: micropost, data: { turbo: false }) do |form| %>
    <% if @micropost.errors.any? %>
       <h2><%= pluralize(@micropost.errors.size, 'error') %> prevented this micropost from being saved:</h2>
       <ul>
       <% @micropost.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
       <% end %>
       </ul>
<% end %>

<div>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
</div>

<div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

<div>
<%= form.submit ({:class => 'btn btn-dark'})%>
</div>
<% end %>