<%= form_with(model: micropost, data: { turbo: false }) do |form| %>
    <% if @micropost.errors.any? %>
       <h2><%= pluralize(@micropost.errors.size, 'error') %> prevented this toy from being posted:</h2>
       <ul>
       <% @micropost.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
       <% end %>
       </ul>
<% end %>

<div class="mb-3">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "form-control", placeholder: "Toy Name" %>
</div>

<div class="mb-3">
    <%= form.label :content %><br>
    <%= form.text_area :content, class: "form-control", placeholder: "Description about the toy..." %>
</div>

<div class="mb-3">
    <%= form.label :image %>
    <%= form.file_field :image%>
</div>

<div class="mb-3">
    <%= form.label :additional_images %>
    <%= form.file_field :additional_images, multiple: true %>
</div>

<%= form.hidden_field :user_id, value: Current.user.id %>

<div class="mb-3">
<%= form.submit ({:class => 'btn btn-primary'})%>
</div>
<% end %>


