<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-11">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">

            <!--FOR NEW VIEW--->
                  <% if controller_name == 'microposts' && action_name == 'new' %>
                  <%= image_tag("new.png", class: "img-fluid", style: "border-radius: 1rem 0 0 1rem;") %>
                  <% end %>

            <!--FOR EDIT VIEW--->
                  <% if controller_name == 'microposts' && action_name == 'edit' %>
                  <%= image_tag("edit.png", class: "img-fluid", style: "border-radius: 1rem 0 0 1rem;") %>
                  <% end %>      

            <!--FOR VIEW WITH ERRORS--->
                  <% if @micropost.errors.any? %>
                    <%= image_tag("error.png", class: "img-fluid", style: "border-radius: 1rem 0 0 1rem;") %>
                  <% end %> 

            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <!--FOR NEW VIEW--->
                  <% if controller_name == 'microposts' && action_name == 'new' %>
                    <span class="h1 fw-bold mb-0">Add Toy</span>
                  <% end %>

                  <!--FOR EDIT VIEW--->
                  <% if controller_name == 'microposts' && action_name == 'edit' %>
                    <span class="h1 fw-bold mb-0">Edit Toy</span>
                  <% end %>

                  <!--FOR EDIT VIEW--->
                  <% if @micropost.errors.any? %>
                    <span class="h1 fw-bold mb-0">Try Again</span>
                  <% end %>

                  </div>

                  <%= form_with(model: micropost, data: { turbo: true }) do |form| %>
                    <% if @micropost.errors.any? %>
                    <div class="alert alert-danger">
                        <% @micropost.errors.full_messages.each do |msg| %>
                            <div><%= msg %></div>
                        <% end %>
                        </div>
                    <% end %>

                  <div class="form-outline mb-4">
                    <%= form.label :title %><br>
                    <%= form.text_field :title, class: "form-control", placeholder: "Toy Name" %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= form.label :content %><br>
                    <%= form.text_area :content, class: "form-control", placeholder: "Description about the toy..." %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= form.label :image %>
                    <%= form.file_field :image, id: "post_image"%>
                    <%= image_tag "", id: "preview-image", class: "hidden", size:'150x150' %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= form.label :additional_images %>
                    <%= form.file_field :additional_images, multiple: true,  onchange: "previewImages()" %>
                  </div>

                  <div id="image-preview" class="mb-4"></div>


                  <%= form.hidden_field :user_id, value: Current.user.id %>
                  
                  <div class="mb-3">
                  <%= form.submit ({:class => 'btn btn-primary'})%>
                  </div>
                  <% end %>


              </div>
            </div>
          </div>
        </div>
      </div>
      </br>
      </br>
    </div>
    
  </div>


</section>

<%= javascript_include_tag ("preview.js")%>
