<% provide(:title, "Dashboard") %>


</br>
</br>

<h1>TOYS</h1>

<!-----<%= link_to 'New Micropost',new_micropost_path, {:class => 'btn btn-dark m-3'}%>---->
 <!-----<%= link_to 'Back to Users',users_path, {:class => 'btn btn-dark'} %>-->
 <%= link_to 'Add Toy',new_micropost_path, {:class => 'btn btn-outline-primary m-3'}%>
<div class="row row-cols-1 row-cols-md-3 g-4">
<% @microposts.each do|micropost| %>
  <div class="col">
    <div class="card h-100">
    <% if micropost.image.attached?%>
    <%= image_tag (micropost.additional_image_as_thumbnail(micropost.image)) %>
    <% end %>
   
      <div class="card-body">
      <p><strong>TOY: </strong><%=micropost.title%></p>
        <p class="card-text"><strong>ABOUT:</strong>
        <%=micropost.content %>
        </p>
        <% if (Time.zone.now - micropost.created_at) > 3.day %>
          <h7 class="card-title"><%=micropost.created_at.strftime("%B %d %Y")%></h7>
        <% else %>
          <h7 class="card-title"><%=time_ago_in_words(micropost.created_at)%> ago</h7>
        <% end %>
      </div>
      <li style = "list-style-type: none; padding-left: 20px">
            Posted by:</br>
            
            <%=image_tag avatar_url(micropost.user), class: "rounded-circle", size:'48x48'%>
            <%= link_to micropost.user.name, profile_path(micropost.user.id), {:class => 'btn btn-light'} %></br>
            <%= link_to 'View', micropost, {:class => 'btn btn-light'} %>
            <% if micropost.user == Current.user %>
            <%= link_to 'Edit', edit_micropost_path(micropost), {:class => 'btn btn-light'} %>
            <%= link_to "Delete", micropost, :class => 'btn btn-light', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
                     
            <% end %>
            </li>
        </br>
    </div>


 


    
  </div>
  <% end %>
  
</div>
</br>
</br>
