<% provide(:title, "Profile") %>

<h1>Hi <%=Current.user.name%>,</h1>
<% if @user.name != Current.user.name %>
<h3><%=image_tag avatar_url(@user), class: "rounded-circle", size:'60x60'%> WELCOME TO <%=@user.name%>'s PROFILE,</h3>
<% else %>
<h3><%=image_tag avatar_url(Current.user), class: "rounded-circle", size:'60x60'%>WELCOME TO YOUR PROFILE!</h1>
<% end %>


<%= link_to 'Add Toy',new_micropost_path, {:class => 'btn btn-outline-primary m-3'}%>
<div class="row row-cols-1 row-cols-md-3 g-4">
<% @microposts.each do|micropost| %>
  <div class="col">
    <div class="card h-100">
    <% if micropost.image.attached?%>
    <%=image_tag(micropost.image)%>
    <% end %>
      <div class="card-body">
        <h5 class="card-title"><%=micropost.title%></h5>
        <p class="card-text">
        <%=micropost.content %>
        </p>
        <h7 class="card-title">Posted by: <%=micropost.user.name%></h7></br>

        <h7 class="card-title">Post Date: <%=micropost.created_at%></h7>
      </div>
      <li style = "list-style-type: none; padding-left: 20px">
            <%= link_to 'Edit', edit_micropost_path(micropost), {:class => 'btn btn-light'} %>
            <%= link_to "Delete", micropost, :class => 'btn btn-light', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </li>
        </br>
    </div>
    
  </div>
  <% end %>
  
</div>
</br>
</br>