<h1>WELCOME TO <%=user.name%>'s PROFILE,</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
<% @microposts.each do|micropost| %>
  <div class="col">
    <div class="card h-100">
    <% if micropost.image.attached?%>
    <%=image_tag(micropost.image)%>
    <% end %>
      <div class="card-body">
        <h5 class="card-title"><%=micropost.title%></h5>
        <p class="card-text">
        <%=micropost.content %>
        </p>
        <h7 class="card-title">Post Date: <%=micropost.created_at%></h7>
      </div>
      <li style = "list-style-type: none; padding-left: 20px">
            <%= link_to 'Edit', edit_micropost_path(micropost), {:class => 'btn btn-light'} %>
            <%= link_to "Delete", micropost, :class => 'btn btn-light', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </li>
        </br>
    </div>
    
  </div>
  <% end %>
  
</div>
</br>
</br>