<!DOCTYPE html>
<html>

  <head>
  <title><%= yield(:title) %> | Toy App</title>
  <%= render 'layouts/rails_default' %>
  <%= render 'layouts/shim' %>
  </head>

  <body style="background-color: #efffff">
    <div class="container">
      <%= render partial: "shared/navbar"%>
      <%= render partial: "shared/flash" %>
      <%= yield %>
    </div>
  </body>
</html>

